.corazul{
    color: blue;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 10px 10px 20px brown;
    text-align: center;
}
.cordecocô{
    color: brown;
    text-align: center;
}
p{
    color: darkred;
    text-align: center;
}
.corazulh1{
    color: darkblue;
    text-align: center-;

}