

body{
    background-color: #eefaa8;
    font-family: "Rajdhani", sans-serif; 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
header{
    background-color: #649ea7;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 5px;
}
img{
    border-radius: 5px;
    border: 1px #000000 solid;
    
}
tr,td{
    border: solid 1px #000000;
    text-align: center;
}
figcaption{
    font-size: 30px;
}
th{
    color: #8fbfb9;
    font-weight: bold;
}

