 /* Aqui tem um comentario(comentario em mais de uma linha)*/

 body{
    
    

    /*background-color: rgb(0, 0, 0,);*/
    /*background-color: rgb #ff00 00 00;*/
    background-color: rgb(00, 00, 99)
    
    }
    h1{
        font-family: "Rubik Mono One", monospace;
        font-size: 300%;
        text-shadow: 10px 7px 11px gray;

        color: rgb(255, 255, 255);
    }
    p{
        font-family: "DM Serif Display", sans-serif;
        font-size: 2rem;
        font-style: italic;
        line-height: 170%;
        text-shadow: 10px 10px 100px black;
        color: #ffffff;
    }
    img{
        height: 30%; /*altura*/
        width:80%; /*largura*/
       /* box-shadow: 20px 20px 2 0px black;*/ /*raio da imagem*/
        
    }
