body{
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    background-color:#007aFF;
}

header{
    background-color: #0099ff;
    box-shadow: 3px 3px 3px #48789f;
    text-shadow: 3px 3px 3px #48789f;
}

h2{
    background-color: #0099ff;
    box-shadow: 3px 3px 3px #48789f;
    text-shadow: 3px 3px 3px #48789f;
}

img{
    width: 500px;
    height: 300px;
}
footer{
    background-color: #0099ff;
    box-shadow: 3px 3px 3px #48789f;
    text-align: center;
}